.center {
  justify-content: center;
  vertical-align: middle;
}
  
.flex {
  display: flex;
}

.header {
  margin: 2.25rem 0;
}

.space-between {
  justify-content: space-between;
}

.datePicker {
  display: inline-flex;
  align-items: center;
}

.datePickerBtn{
  margin-left: 0.5rem;
}

.todayHeader {
  margin: 1rem 0;
}