.center {
  justify-content: center;
  vertical-align: middle;
}
  
.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.datePicker {
  display: inline-flex;
  align-items: center;
}

.datePickerBtn{
  margin-left: 0.5rem;
}

.todayHeader {
  margin: 1rem 0;
}

.pageContainer {
  padding: 2rem;
  display: block;
  margin: 0 auto;
  max-width: 90rem;
}