.mt-m {
  margin-top: 1rem;
}

.ml-m {
  margin-left: 1rem;
}

.mb-xxl {
  margin-bottom: 4rem;
}

.p-xxl {
  padding: 4rem;
}

.header {
  margin: 2.25rem 0;
}

.align-center {
  align-items: center;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  vertical-align: middle;
}
